<a href="https://colab.research.google.com/github/De-Las-Alas/58013-LinearAlgebra/blob/main/Rview%20of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indentation


*   Indentation refers to the spaces at the beginning of a code line.

Example:

In [2]:
if 5>2:
  print("Five is greater than Two.")

Five is greater than Two.

#Python Comments


*   Comments can be used to explain Python code and make the code more readable.
*   Comments start with #.

Example:

In [3]:
#This is a comment
print("Hello world.")

Hello world.

#Python Variable


*   Variables are containers for storing data values

Example:

In [ ]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

Others:

In [ ]:
b = "Sally" #this is a type of string

#Casting

In [4]:
b = "Sally" #this is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

#Type() function

Example:

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#"Double Quotes" or 'Single Quotes'


*   String variables can be declared either by using single or double quotes.

Example:

In [ ]:
y = "John"
y = 'John'

#Case Sensitive

Example:

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

#Multiple Variables

Example:

In [7]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

#One Value to Multiple Variables

Example:

In [8]:
x = y = z ="four"
print(x)
print(y)
print(z)

four
four
four

#Output Variables


*   The python print is used to output variables and + is used to combine both text and variable.

Example:

In [9]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Other:

In [11]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

#Arithemtic Operations

Example:

In [12]:
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum = x+y
print(sum)

8
8

#Assignment Operators

Example:

In [15]:
a, b, c, = 0, -1, 6
c %= 3
print(c)

0

#Comparison & Logical Operators

Example:

In [16]:
a, b, c = a, -1, 6
a>b and c>b

True

#Identity Operators

Example:

In [20]:
a, b, c = 0, -1, 5
a is c

False

#Bitwise Operators

Example:

In [28]:
a, b, c = 0, -1, 5
c >> 1

2

In [29]:
a, b, c = 0, -1, 5
c << 1

10